.DS_Store
USP-SIRIO-ETC/HSL_Janeiro2021/HSL_Exames_3.csv
.RData
.Rhistory
INFLUD21-29-03-2021.csv
.teste
INFLUD21-05-04-2021.rds
INFLUD21-05-04-2021.csv
do_not_use/**
dados/**
USP-SIRIO-ETC/**
kaggle/**
USP-SIRIO-ETC/HSL_Janeiro2021/**
